.button {
  font-family: var(--font-main);
  font-size: 14px;

  background-color: var(--color-accent);
  border: 2px solid var(--color-txt);
  color: var(--color-txt-on-primary);

  padding: var(--space-sm) var(--space-md);
  border-radius: var(--radius);
}
