.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-family: var(--font-main);
  font-size: 14px;
  line-height: 1;
  text-decoration: none;
  padding: var(--space-sm) var(--space-md);
  border-radius: var(--radius);
  cursor: pointer;
}

.accent {
  background-color: var(--color-accent);
  border: 2px solid var(--color-accent-muted);
  color: var(--color-txt-on-primary);
}

.primary {
  background-color: var(--color-window-bg);
  border: 2px solid var(--color-border);
  color: var(--color-txt);
}
