.section {
  min-height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 40px;
}

.window {
  background: var(--color-window-bg);

  width: 100%;
  max-width: 1000px;

  position: relative;

  border: 6px solid var(--color-border);
  box-shadow: 8px 8px 0 color-mix(in srgb, var(--color-border) 70%, #fff 30%);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 8px 16px;

  border-bottom: 2px solid var(--color-border);
  font-family: var(--font-main);
  color: var(--color-txt);
  background-color: var(--color-border);
}

.controls {
  display: flex;
  gap: 10px;
}

.control {
  width: 12px;
  height: 12px;
  display: block;
  background: var(--color-window-bg);
}

.red {
  background: red;
}

.accent {
  background: var(--color-accent);
}

.content {
  text-align: center;
  padding: 48px 24px;
}

.contentFlush {
  padding: 0;
}

.title {
  font-size: 28px;
  margin-bottom: 16px;
}

.subtitle {
  font-size: 20px;
  margin-bottom: 40px;
}

.cardWrapper {
  display: flex;
  justify-content: center;
}
